@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,900&display=swap&subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 20px; /* f = 20 */
  line-height: 1.5em; /* l = 30 */
  scroll-behavior: smooth;
}

body {
  background: #1A2324;
}

a:link, a:visited {
  color: unset;
  text-decoration: none;
}

header {
  color: #BDB3B1;
  background: #1A2324;
  display: grid;
  font-weight: 900;
  height: 90vh;
  /* padding-top: 10vh; */
  text-align: center;

  /* TODO: Use imgage-set */
  background-image: url("./images/moon.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  background: #1A2324;
  padding: 30px;
  margin: 0 auto;
  height: min-content;
  width: min-content;
  font-size: 20px;
  line-height: 3rem;
  text-transform: uppercase;
  word-spacing: 20px;
}

nav {
  display: none;
}

/* Banner stuff */

.banner {
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner h2 {
  color: white;

  background: #090909;
  padding: 30px;

  font-size: 40px;
  letter-spacing: 10px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

#team-banner {
  background-image: url("./images/team.png");
}

#mission-banner {
  background-image: url("./images/robot.jpg");
}

/* Card stuff */

.card {
  background: #1A2324;
  color: #BDB3B1;
  min-height: 40vh;
  padding: 40px 5%;
  overflow: auto; /* Fixes card-logo from floating out of the box */
}

.alt {
  background: #BDB3B1;
  color: #1A2324;
}

.card h3 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
  text-align: center;
  hyphens: auto;
}

.card-logo {
  display: block;
  margin: 0 auto;
  width: 70vw;
}

.card p {
  margin-top: 20px;
}


/* Gallery stuff */

.image-gallery {
  display: grid;
  grid-gap: 50px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  margin-top: 40px;
}

.image-gallery img {
  display: block;
  margin: 0;
  width: 100px;
  margin: 0 auto; /* Makes things look nicer on older browsers */
}

.image-gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
}

.sponsor-gallery figure {
  cursor: pointer;
}

.sponsor-gallery img {
  border-radius: 100%;
}

/* Media queries */

@media screen and (min-width: 250px) {
  nav {
    display: block;
    background: #1A2324;
    color: #BDB3B1;

    height: 10vh;
    width: 100%;

    transition: 50ms ease;
    transition: width 500ms ease;
  }
  nav ul {
    align-items: center;
    display: flex;
    height: 100%;
  }

  nav ul li a {
    color: #BDB3B1;
    border-radius: 10px;
    font-weight: bold;
    height: max-content;
    height: 100%;
    padding: 0 15px;
    width: 80px;
    transition: color,background 100ms linear;
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 15px 0;
  }

  nav ul img {
    display: block;
    height: 8vh;
    margin-right: 10px;
  }

  nav ul li a:hover {
    background: #BDB3B1;
    color: #1A2324;
    cursor: pointer;
  }
}

@media screen and (min-width: 275px) {
  header h1 {
    font-size: 10px;
    padding: 20px;
  }
}

@media screen and (min-width: 350px) {
  header h1 {
    font-size: 20px;
    width: max-content;
  }
}

@media screen and (min-width: 450px) {
  header h1 {
    font-size: 30px;
  }
}


@media screen and (min-width: 600px) {
  header h1 {
    font-size: 40px;
  }
}


@media screen and (min-width: 700px) {
  .card {
    padding-left: 10%;
    padding-right: 10%;
  }

  .card-logo {
    float: left;
    shape-outside: circle(50%);
    width: 40vw;
  }

  header h1 {
    font-size: 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) {
  .card-logo {
    width: 400px;
  }
}

@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 80px;
  }
}
