@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,900&display=swap&subset=latin-ext');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


html {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 20px; /* f = 20 */
  line-height: 1.5em; /* l = 30 */
  scroll-behavior: smooth;
}

header {
  display: grid;
  text-align: center;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-image: url("./images/team.png");
  font-size: 50px;
  color: #ffffff;
}

header h1 {
  line-height: 3rem;
  padding: 0 50px;
}

header .header-p {
  line-height: 3rem;
  font-size: 20px;
  padding: 0 50px;
}

nav ul {
  display: none;
}

@media screen and (min-width: 400px) {
  nav ul {
    background: black;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    border-bottom: 3px solid white;
    padding: 0 25px;
  }

  nav ul li {
    background: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.05);
    height: max-content;
    width: 14vh;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 10px;
  }

  nav ul li p {
    padding: 15px 0;
    font-size: 20px;
  }

  nav ul li:hover {
    background: white;
    color: black;
    cursor: pointer;
  }

  nav ul img {
    display: block;
    height: 8vh;
  }
}

@media screen and (min-width: 500px) {
  nav button {
    margin: 0 5%;
  }
}

.card {
  background: #D9D9D9;
  color: black;
  padding: 40px 5%;
  border-bottom: 2px solid black;
  min-height: 500px;
}

.alt {
  background: #C70718;
  color: white;
}

.card h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 70vw;
}

.card p {
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  .card img {
    width: 40vw;
    float: left;
    shape-outside: circle(50%);
  }
}

@media screen and (min-width: 1000px) {
  .card img {
    width: 400px;
  }
}

section .image-gallery {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  grid-gap: 50px;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 100px);
}

.image-gallery img {
  width: 100px;
  display: block;
  margin: 0;
}

section .image-gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  text-align: center;
  /* width: max-content; */
}

.sponsor-gallery figure {
  cursor: pointer;
}

.sponsor-gallery img {
  border-radius: 100%;
}
